name: CI-CD ECS Logger

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Login to Amazon ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build and push Docker image
      run: |
        docker build -t ecs-logger:1.0 .
        docker tag ecs-logger:latest 97346302765.dkr.ecr.ap-south-1.amazonaws.com/ecs-logger:latest
        docker push 97346302765.dkr.ecr.ap-south-1.amazonaws.com/ecs-logger:latest
